.mainContain {
  min-height: 500px;
  width: 70%;
  border: 1px solid black;
}

.colorPicker {
  width: 800px;
  display: flex;
}

.colorBox {
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
}

#drawGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  border-radius: 10px;
  padding: 5px;
  background-color: black;
  color: white;
}
