.mainContain {
  min-height: 500px;
  width: 500px;
  border: 1px solid black;
}

.colorPicker {
  width: 800px;
  display: flex;
}

.colorBox {
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
}

#drawGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  border-radius: 10px;
  padding: 5px;
  background-color: black;
  color: white;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat {
  height: 500px;
  width: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.chatMessage {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.chatMessage p {
  padding: 0;
  margin: 0;
}

.messageAuthor {
  font-style: italic;
}

#chatForm {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
